h1 {
    font-family: 'Times New Roman', sans-serif;
    font-weight: bolder;
    color: rgb(49, 6, 78);
}

.panimg,
.toastimg,
.eggsimg {
    width: 300px;
    height: auto;
}

h2 {
    background-color: rgb(38, 5, 82);
    color: rgb(225, 188, 240);
}